@import "tailwindcss";

@theme {
  --color-primario: #1e1b18; /* Títulos */
  --color-fondo: #1a1a1a; /* Fondo oscuro */
  --color-card: #2c2c2c; /* Tarjetas o secciones */
  --color-titulo: #ffffff; /* Fondo oscuro */
  --color-texto: #f5a623; /* Descripciones */
  --color-acento: #c5a059; /* Bordes o detalles */
}
