---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import WhatsappBtn from "../components/WhatsappBtn.astro";
import { SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";

const menu = await getCollection("menu");
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description="Las mejores hamburguesas de la ciudad, hechas con ingredientes frescos y mucho sabor."
    />
  </head>
  <body>
    <div class="min-h-screen bg-background">
      <Header />
      <WhatsappBtn />
      <Main />
      <Footer />
    </div>
  </body>
</html>
