---

---

<header class="relative overflow-hidden py-16 md:py-24">
  <div
    class="absolute inset-0 bg-linear-to-b from-primary/10 via-background to-background"
  >
  </div>
  <div class="relative z-10 text-center px-4">
    <div class="inline-block mb-4">
      <img
        src="/logo.png"
        alt="Logo de Sam Burgers"
        class="w-60 h-60 object-cover rounded-full shadow-lg"
      />
      <br /><br />
    </div>
    <h1
      class="font-display text-5xl md:text-7xl font-black text-primary tracking-tight"
    >
      El Tio Sam Burger
    </h1>
    <p
      class="mt-4 text-lg md:text-xl text-muted-foreground font-body max-w-md mx-auto"
    >
      Las mejores hamburguesas de la ciudad, hechas con ingredientes frescos y
      mucho sabor.
    </p>

    <div
      class="mt-6 h-px w-24 bg-linear-to-r from-transparent via-primary to-transparent mx-auto"
    >
    </div>
    <div class="mt-4 text-sm text-muted-foreground">
      Viernes, sábado y domingo de 6:00pm a 10:00pm
      <br />Justo sierra 1808 col. Aurora, Culiacán, Sinaloa
    </div>
    <a
      class="text-blue-500 font-bold mt-2 inline-block hover:underline"
      href="https://maps.app.goo.gl/BieVePUBz9MNFPim8"
      target="_blank"
    >
    </a>
  </div>
</header>
