<section
  class="relative flex items-center justify-center h-64 w-full bg-gray-900 overflow-hidden"
>
  <img
    src="logo.jpg"
    alt="Logo del sitio"
    class="absolute inset-0 w-full h-full object-cover opacity-50 z-0"
  />
</section>
